* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5rem;
  background-color: hsl(180, 52%, 96%);
}
.main-header {
  height: 100px;
  width: 100%;
  background-image: url(images/bg-header-mobile.svg),
    linear-gradient(hsl(180, 29%, 50%), hsl(180, 29%, 50%));
}
