* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}
body {
  background-color: hsl(180, 52%, 96%);
  font-family: "League Spartan";
  color: hsl(180, 29%, 50%);
}
.main-header {
  height: 100px;
  width: 100%;
  background-image: url(images/bg-header-mobile.svg),
    linear-gradient(hsl(180, 29%, 50%), hsl(180, 29%, 50%));
}
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2.4rem;
  padding-top: 8rem;
}
.heading-1 {
  color: hsl(180, 14%, 20%);
  font-size: 1.8rem;
}
.heading-2 {
  font-size: 1.4rem;
  margin-right: 2.4rem;
}
.header--subheadings {
  display: flex;
  align-items: center;
}
.heading-tag {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-right: 0.8rem;
  color: #ffff;
  background-color: hsl(180, 29%, 50%);
  padding: 0.6rem 0.8rem;
  border-radius: 100px;
}
.heading-tag.featured {
  background-color: black;
}
.listed-jobs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5.4rem;
}
.listed-job {
  width: 100%;
  background-color: #ffff;
  position: relative;
  padding: 3.2rem;
  padding-bottom: 0.4rem;
  padding-left: 2rem;
  border-radius: 7px;
  box-shadow: 0px 33px 32px -37px hsl(180, 29%, 50%);
}
.listed-job.active {
  border-left: solid 0.75rem hsl(180, 29%, 50%);
}
.listed-job--img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  transform: translate(37%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
.listed-job--img {
  width: 100%;
}
.listed-job--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem 0;
}
.header--subheadings,
.job-info {
  display: flex;
}
.job-info {
  display: flex;
}
.job-info--text {
  font-size: 1.6rem;
  padding: 0 0.8rem;
  position: relative;
  color: #858585;
}
.job-info--text:first-child {
  padding-left: 0;
}
.job-info--text:not(:first-child):before {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #858585;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.featured-techs {
  border-top: 1px solid hsla(180, 8%, 52%, 0.5);
  padding: 1.6rem 0;
}
.featured-tech {
  display: inline-block;
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
}
